.container{
    /* border: 2px solid black; */
    margin: 10rem 30rem;
    text-align: center;

}
#value{
    font-size: 5rem;
}
.btn-container{
    gap: 1rem;
}
.btn{
    padding: 1rem 1.5rem;
    font-weight: bolder;
    font-size: large;
    border-radius: 2rem;
}